.notificacoes {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 16px;
}
.tem_notif {
    background-color: #FF0000;
    color: #FFF;
}